.header {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.note{
    font-size: 15px;
    color: black;
}

.copyright-footer {
    bottom: 0;
    line-height: 3;
    background-color: grey;
    position: fixed;
    color: black;
    text-align: center;
    width: 100%;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}

#text {
    color: black;
    
}